# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Node / React
node_modules/
dist/
build/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker & Persistence
uploads/*
!uploads/.gitkeep
mysql_data/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.iml

# OS files
Thumbs.db
ehthumbs.db
desktop.ini
